{% extends "base.html" %}
{% load static %}
{% block titulo %} INICIO {% endblock %}
{% block contenido %}

<div class="p-5 bg-light">
  <div class="container">
    <h1 class="display-3"> Sobre mi</h1>
    <hr class="my-2">
    <p style="font-size: 30px;">Me llamo Leandro Lezcano, tengo 24 años y soy de Argentina. Soy estudiante de Python y ReactJS, además soy diseñador web y desarrollador en JavaScript. No solo estudio, sino que tambien trabajo, soy operario en una fábrica. Me gusta mucho la programación pero a veces me frustro demasiado cuando no me salen las cosas. Soy muy poco detallista pero me gusta que las cosas funcionen bien, me considero una persona muy poco paciente pero muy predispuesta a aprender de mis propios errores.</p>
  </div>
</div>            
{% endblock %}