{% extends "base.html" %}
{% load static %}
{% block titulo %} INICIO {% endblock %}
{% block contenido %}

<div class="p-5 bg-light">
  <div class="container" style="background-color:antiquewhite;">
    <h1 class="display-3"> Bienvenidos a la libreria del futbol argentino</h1>
    <hr class="my-2">
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Logo_Liga_Profesional_de_Fútbol_%28Argentina%29.png" width="1000px"  alt="Descripción de la imagen">
    <p style="font-size: 45px;">Aqui encontraras toda la informacion acerca de los clubes mas famosos de Argentina. Historia, escudos, etc.</p>
  </div>
</div>            
{% endblock %}